.videoSidebar{
    position: absolute;
    top: 40%;
    right: 10px;
    color: white;
}

.videoSidebar___button {
    padding: 20px;
    text-align: center;
}

.rotate {
    transform: rotateY(180deg);
}